<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice: 3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice: 3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>[{{arreglo}}]</td>
          <td>slice: 2:5</td>
          <td>[{{arreglo | slice:2:5}}]</td>
        </tr>
        <tr>
          <td>{{pi}}</td>
          <td>number:'3.0-0'</td>
          <td>{{pi | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{pi}}</td>
          <td>number:'.0-2'</td>
          <td>{{pi | number:'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent:'2.2-2'</td>
          <td>{{porcentaje | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency:'EUR'</td>
          <td>{{salario | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{valorPromesa}}</td>
          <td> async</td>
          <td>{{valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td> date</td>
          <td>{{fecha | date:'long' }}</td>
        </tr>
        <tr>
          <td>{{nombre2}}</td>
          <td> capitalizado</td>
          <td>{{nombre2 | capitalizado:true }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td> 
            contrasenia:{{activar}}
            <br>
            <button class="btn btn-outline-primary" (click)="activar = !activar">
              {{activar? 'desactivar' : 'activar'}}
            </button>
          </td>
          <td>{{nombre | contrasenia:activar}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 mt-5">
    <h4>Slice in a ngFor</h4>
    <p>instruction = let item of arreglo | slice:5:10</p>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:10">{{item}}</li>
    </ul>
  </div>
  <div class="col-12 mt-5">
    <h4>Json</h4>
    <pre>{{heroe | json}}</pre>
  </div>
  <div class="col-12 mt-5">
    <h4>DomSeguro</h4>
    <iframe 
      width="560"
      height="315"
      [src]='videoStr | domseguro'
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>

</div>